/*****************
  THE MAGIC
*****************/
/*input:focus {*/
/*    box-shadow: 0 0 3000px 3000px rgba(151, 125, 48, 0.3);*/
/*    position: relative;*/
/*    z-index: 99999;*/
/*}*/
/*****************
  END MAGIC
*****************/



body {
    background: #EFEFEF;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    color: #333;
    font-size: 12px;
    letter-spacing: -1px;
}

h1{
    padding-bottom: 15px;
}
img{
    width: 300px;
    height: 300px;
}
label{
    font-weight: bold;
    display: block;
    font-size: 17px;
    width: 300px;
}
input#name, input#email, input#website, input.button {
    font-weight: bold;
    display: block;
    margin: 20px 0;
    outline:0;
    border:0;
    padding: 10px 10px;
    font-size: 13px;
    width: 300px;
    border-radius: 4px;
    shadobox-w:inset 0 0 2px rgba(0,0,0,0.5);
}
input#logo{
    margin: 20px 0px 10px 0px;
    display:block;
}
.button {
    border-top: 1px solid #d1dba2;
    background: #6e7324;
    background: -webkit-gradient(linear, left top, left bottom, from(#bda96e), to(#666933));
    background: -webkit-linear-gradient(top, #bda96e, #666933);
    background: -moz-linear-gradient(top, #bda96e, #666933);
    background: -ms-linear-gradient(top, #bda96e, #666933);
    background: -o-linear-gradient(top, #bda96e, #666933);
    padding: 10px 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 0;
    box-shadow: rgba(0,0,0,0.1) 0 1px 0;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    color: white;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
}
.button:hover {
    border-top-color: #ffffff;
    background: #ffffff;
    color: #a7b828;
    text-shadow: none;
    cursor: pointer;
}
.button:active {
    border-top-color: #ffffff;
    background: #ffffff;
}

p.alert{
    color: red;
    margin-top: 0px;
    font-size: 20px;
}
